{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Recommender</h2>
</div>
<div><b>Q. Which Genres do you like most? Only 3 Genres will be considered. </b></div>

<div class="genre-picker-container">
    <iframe name="form-void" style="display:none;"></iframe>
    <form class="genre-picker" target="form-void" onsubmit="getRecommendations()">
        {% for genre in genres %}
        <label>
            <input type="checkbox" name="{{ genre }}"> {{genre}}
        </label>
        {% endfor %}
    </form>
</div>

<form action="/movies" method="GET" class="box">
    <input type="submit" class="btn btn-default btn-primary" value="{%trans%}Save{%endtrans%}" name="checked_boxes">
</form>
    

{% endblock %}

{% block extra_js %}
<script>
    const checkboxes = document.querySelectorAll(".genre-picker>label>input");
    var checked = new Set();
    $(".genre-picker>label>input").click(registerGenre);
    $("input[type='submit']").click(submitGenres);

    function registerGenre(e) {
        let checking = this.checked;
        let name = this.getAttribute('name');

        if (!checking) return checked.delete(name);
        else if (checked.size === 3) return e.preventDefault();

        checked.add(name);
    }

    function submitGenres(e) {
        e.preventDefault();

        if (!checked.size) {
            alert("Please select at least one genre.");
            return;
        }

        window.location.assign("/movies?genres=" + Array.from(checked).join(','));
    }
</script>
{% endblock %}

